<tr class="text-md text-center bg-gray-50">
  <td class="border border-slate-300">#name</td>
  <td class="border border-slate-300">#fname</td>
  <td class="border border-slate-300">#cnic</td>
  <td class="border border-slate-300">#address</td>
  <td class="border border-slate-300">#phn</td>
  <td class="border border-slate-300">#email</td>
  <td class="border border-slate-300">#dob</td>
  <td class="border border-slate-300 items-center">#pro</td>
  <td class="border border-slate-300">#city</td>
  <td class="border border-slate-300">#dist</td>
  <td class="border border-slate-300">#uc</td>
  <td class="border border-slate-300">#ward</td>
  <td class="border border-slate-300">#g</td>
</tr>
